body{background:#fff;white-space:pre-line;font:12px "Trebuchet MS",sans-serif;width:400px;margin:5% 0 5% 30%}#footer,#footer a,#footer a:hover,#footer a:visited{color:#999;text-decoration:none}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
