.aside 
  p General
  a(onclick='toggleComments()', href='javascript: void 0;') Toggle comments
  a(onclick='clearCode()', href='javascript: void 0;') Clear the code boxes
  a(onclick='chAllToName()', href='javascript: void 0;') Change every "BCOL" to the element's Name.
  a(onclick='save()', href='javascript: void 0;') Save
  a(href='#') Go to the top
  block custom_aside