.aside 
  p General
  ul 
    li: a(onclick='toggleComments()', href='javascript: void 0;') Toggle comments
    li: a(onclick='clearCode()', href='javascript: void 0;') Clear the code boxes
    li: a(onclick='chAllToName()', href='javascript: void 0;') "BCOL" --&gt; Name
    li: a(onclick='save()', href='javascript: void 0;') Save
    li: a(href='#') Go to the top
  block custom_aside