<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>search thing</title>
  <link rel="stylesheet" type="text/css" href="styles/search.css" />
</head>
<body>
  
  <div id="container">
    <div>
      <h1 id="unfade" title="doubleclick to show it again">it's like hoogle except for tpt</h1>
      <noscript><h2>okay this is a place you <em>really</em> need javascript in.</noscript>
      <div id="fadey" title="doubleclick to hide this">
        <p>This is a search engine for the TPT programming APIs!<br>Just enter your search term below and see a detailed reference!</p>
        // TPTElements for <a href="./index.html#cpp">C++</a> / <a href="./index.html#lua">Lua</a> / <a href="./index.html#c">C</a><br>
        // References for <a href="./lua-reference.html">The Lua API (and TPT internals, really)</a> / <a href="./OPS-reference.html">OPSv1</a> / <a href="./search.html">Lua API Search</a><br>
// external stuff: <a href="http://github.com/boxmein/TPTElements/tree/backbone">on GitHub</a> / <a href="http://tpt.io/@boxmein">Contact</a> / <a href="http://powdertoy.co.uk/Wiki/W/Coding-tutorial.html">Coding tutorial</a> / <a href="http://powdertoy.co.uk">Powder Toy</a>
      </div>
      
      <input type="text" id="input" placeholder="Search" />
      <div id="searchextra">
        <a id="regex" title="Regular expressions!">[&times;]</a>
        <a id="alwaysintense" title="Always Intense Searching">[i]</a>
        <span id="resultno"></span>
        <span id="totalno"></span>
        
      </div>
    </div>
    <ul id="results">
      <div id="loading">Preparing....</div>
    </ul>
    <div id="foot">by boxmein 2014 <a href="http://cristgaming.com/pirate.swf">license</a></div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

  <script type="text/template" id="result_template">
    <li class="entry" onclick="var d=this.getElementsByClassName('details')[0]; d.style.display=d.style.display=='none'?'block':'none';" onhover="var d=this.getElementsByClassName('details')[0];">
      <div class="name"><%= name %></div>
      <span class="description"><%= description %></span>
    </li>
  </script>

  <script>
  var extras = {};

  // https://gist.github.com/revolunet/843889 
  // Decompress an LZW-encoded string
  function lzw_decode(s) {
    var dict = {};
    var data = (s + "").split("");
    var currChar = data[0];
    var oldPhrase = currChar;
    var out = [currChar];
    var code = 256;
    var phrase;
    for (var i=1; i<data.length; i++) {
        var currCode = data[i].charCodeAt(0);
        if (currCode < 256) {
            phrase = data[i];
        }
        else {
           phrase = dict[currCode] ? dict[currCode] : (oldPhrase + currChar);
        }
        out.push(phrase);
        currChar = phrase.charAt(0);
        dict[code] = oldPhrase + currChar;
        code++;
        oldPhrase = phrase;
    }
    return out.join("");
  }

  window.onload = function() {
    var input = $('#input');
    var template = $('#result_template').html();
    var alldata = [];

    var xhr = new XMLHttpRequest();
    xhr.open("GET", "./search-min.lzw");
    xhr.onload = function() {
      if (xhr.readyState == 4 && xhr.status == 200) {
        try {
          var text = lzw_decode(xhr.responseText);
          alldata = JSON.parse(text).stuff;
          window.thingtext = text;
          // init stuff
          $('#totalno').text(alldata.length + ' entries');
          redisplay(alldata);
        } catch (err) {
          console.log(err);
          $('#loading').html('Fatal error: <pre>' + err + '</pre>');
        }
      }
    };
    xhr.send(null);



    // 
    // Display entries into the y'know list with the template.
    // 
    var redisplay = function (data) {
      var endHTML = "";
      for (var i=0;i<data.length;i++) {
        if (!(data[i].name || data[i].description /*|| data[i].details*/))
          console.log(data[i]);
        endHTML += _.template(template, data[i]);
      }
      $('#resultno').html(data.length + ' result'+(data.length>1?'s':'')+' out of ');
      $('#results').html(endHTML);
    };

    // 
    // Search for the user query AND update listings.
    // 
    var searchUpdate = function (str, detailed) {
      if (detailed || extras.alwaysintense) {
        // extra searches!
        redisplay(_.filter(alldata, function(el) {
          if (!extras.regex)
            return el.name.indexOf(str) !== -1 ||
                   el.description.indexOf(str) !== -1 ||
                   el.details.indexOf(str) !== -1; 
          else {
            try {
              var rx = new RegExp(str, 'i');
              return rx.test(el.name) || 
                     rx.test(el.description) || 
                     rx.test(el.details);
            }
            catch (err) {
              console.error(err); 

              // let's continue searching without the regex, because it's 
              // unworking obviously!

              $('#regex').click();
            }
          }
        }));
      }
      else {
        // basic plain quick searching
        redisplay(_.filter(alldata, function(el) {
          if (!extras.regex)
          return el.name.indexOf(str) !== -1; 
          else {
            try {
              var rx = new RegExp(str, 'i');
              return rx.test(el.name);
            }
            catch (err) {
              console.error(err); 
              // if we turned off regex here it'd be utterly annoying
            }
          }
        }));
      }
    };

    // [[heavy searching]]
    input.submit(function(evt) {
      evt.preventDefault(); 
      searchUpdate(evt.target.value, true);
    });

    // light searching
    input.keypress(function(evt) {
      searchUpdate(evt.target.value, false);
    });

    // search extras, like regex or whatnot
    $('#searchextra a').click(function(evt) { 
      $(evt.target).toggleClass('on'); 
      extras[evt.target.id] = !extras[evt.target.id]; 
    });

    $('#fadey').dblclick(function() {
      $(this).fadeOut(); 
      localStorage.fadeSearchHtmlOut = true;
    });
    $('#unfade').dblclick(function() {
      localStorage.fadeSearchHtmlOut = false;
      $('#fadey').fadeIn();
    })

    if (localStorage && localStorage.fadeSearchHtmlOut == 'true') 
      $('#fadey').hide();
    
    if (localStorage && 
        localStorage.tptelements_font !== undefined && 
        localStorage.tptelements_font !== '') {
      document.body.style.fontFamily = localStorage.tptelements_font;
    } 
  };</script>
</body>
</html>