body {
	background: #162D3A;
	font: 12px monospace;
	padding-left: 100px;
	color: #EFEFEF;
	white-space: pre;
	max-width: 700px;
}
body.about {
	white-space: pre-wrap;
}
.divider {
	border-bottom: 1px solid rgba(255,255,255,0.01);
}
a {
	text-decoration: none;
	color: #67899C;
}
h1 {
	font: 2em monospace;
	margin-bottom: -10px;
}
b {
	color: #98BACF;
	font-weight: normal;
}
u {
    text-decoration: none; 
    cursor: pointer;
}
i {
	color: #F6CE9D;
	font-style: normal;
}
i.uno {
	color: #67899C;
}
.aside {
	position: fixed;
	top: 50px; 
	right: 100px; 
	background: rgba(22, 45, 58, 1);
	width: 300px;
	text-align: left;
	white-space: pre-line;
	padding: 5px;
}
.aside ul {
	list-style: none;
	padding: -5px;
	margin: -0px 0px -12px 0px;
	white-space: normal;
}
.aside li {
	list-style-type: none;
	margin-left: -30px;
	cursor: pointer;
	color: #67899C;
}
.aside li:before {
	content: "- ";
}
@media (max-width: 800px) {
	.aside {
		position: static; 
	}
	i, i.uno, .aside a:first-child, .aside a:nth-child(2) {
		visibility: hidden; /* Hides some stuff when too little! */
	}
}