extends layout
block content
  #code
    br
    br
    include includes/c++.html

block custom_aside
  p Code stuff
  ul
    li: a(onclick='clearCode()', href='javascript: void 0;') Clear the code boxes
    li: a(onclick='chAllToName()', href='javascript: void 0;') "BCOL" --&gt; Name
    li: a(onclick='save()', href='javascript: void 0;') Save

