doctype 5
html
  head
    title= TPTElements
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 TPTElements v2.0.0 (Express.js)
    br
    include includes/header
    block content