extends layout
block content
  #code
    include includes/lua.html


block custom_js
  script(src='/javascripts/aside-lua.js')

block custom_styles
  link(rel='stylesheet', href='/stylesheets/lua.css')

block custom_aside
  p Lua stuff
  ul
    li: a(id='addprop') Add Property
    li: a(id='tclone') Copy properties?
    li: a(id='tgraphics') Graphics func? 
    li: a(id='tupdate') Update func? 
    li: a(id='tmodloader') cracker64 headers? 